@charset "UTF8";

header{
    border-bottom: 1px solid #707070;
}
.pc li a{
    color: black;

}
#underline{
    background: black;
    top: 40px;
}

.info {
   padding-top:50px;
    text-align: center;
}
.info h1{
    font-size: 30px;
}
dl{
    padding-top: 100px;
}

@media(min-width:768px){
    .info{
    padding-top: 150px;
}
}
